/* Navigation Styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #102042;
  position: fixed;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: #F26938;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #054E31;
  color: #C9AD86;
}

.active {
  background-color: #F26938;
  color: #102042;
}

/* Coming soon */
.coming-soon {
  border: 1px solid #102042;
  padding: 15px;
  margin-bottom: 25px;
}

/* Homepage Image Previews */
.preview {
  width: 25%
}
