/* Styles for the navigation bar */
nav {
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #102042;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #F26938;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover:not(.active) {
  background-color: #054E31;
  color: #C9AD86;
}

.active {
  background-color: #F26938;
  color: #102042;
}

/* Coming soon */
.coming-soon {
  border: 1px solid #102042;
  padding: 5px;
  margin-bottom: 5px;
  width: fit-content;
  text-align: center;
}

/* Homepage Image Previews */
.preview {
  width: 100%
}
